/* body {
    background-color: white;
}

.details {
    font-size: 20px;
    font-weight: 200;
}

/* Media Queries */

/* MOBILE FIRST */
/* from 320px and up */

/* @media (min-width:320px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 760px) {
   body {
        background-color: green;
   }
}

@media (min-width: 1024px) {
    body {
         background-color: yellow;
    }
 }
 
 @media (min-width: 1224px) {
    body {
         background-color: orange;
    }
 }
 
 @media (min-width: 1820px) {
    body {
         background-color: aquamarine;
    }
 } */

 /* html {
    font-size: 10px;
 }

 body {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200px;
    font-size: 20px;
 }

 .words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0.1);
    padding: 1rem 2rem 5rem;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
 }

 p {
    margin: 0 0 3rem;
 }

 .words::before {
    content: ' ';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4ee;
 } */